* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white    ;
}
body {
    width: 100vw;
    height: 100%;
}
.wrapper{
    margin-left: 100px;
    margin-right: 100px;
}
/* ////////////начало навбар////////// */
.main-nav {
	padding: 15px 0px;
    margin-left: 350px;
    display: flex;
    align-items: center;
}

.main-nav-list {
    display: flex;
    flex-wrap: wrap;
}

.main-nav__link {
    text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	transition: 1.5s ease;
    margin-right: 15px;
    text-decoration: none;
    color: #FF5E43;
}

.main-nav__link:hover {
	color: #000;
    font-weight: bold;
    font-size: 15px;
	/* transform: scale(1.5);  */
}
a:hover {
    color: black;
}

.logo{
    width: 150px;
    height: 150px;
}
/* ////////конец навбар////////// */
/* /////////////начало 1 блока//////////// */
.text_photo{
    display: flex;
}
.text_photo .text h1{
  font-size: 70px;
  color: #000;
  margin-bottom: 50px;
}
.search{
    background-color: #FF5E43;
    border: none;
    border-radius: 3px;
    padding: 3px 10px;
}
.placeholder{
    color: #FFE3C3;
    border-color: #FF5E43;
    padding: 3px 10px;  
}
/* ///////////конец 1 блока/////////// */
/* ////////////////начало 2 блока///////////// */
.three_boxes{
    display: flex;
    justify-content: space-between;
    padding: 121px;
}
.boxes{
    width: 250px;
    height: 50px;
    background-color: #FF5E43;
    text-align: center;
    padding-top: 12px;
}
/* /////////////конец 2 блока/////////// */
/* ///////////////начало 3 блока////////////////// */
h2{
    color: black;
    text-align: center;
    font-size: 48px;
    padding: 10px 0;
}

.school_program_box_wrapper{
    display: flex;
    gap: 20px 10px;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 100px;
}
.school_program_box{
    color: black;
    padding-left: 30px;
    width: 117px;
    height: 117px;
    background-color: #FFE3C3;
    display: flex;
    text-decoration: none;
}
.school_program_box img{
    width: 80px;
    height: 80px;
    align-self: center;
    margin: auto;
}

/* /////////////////конец 3 блока///////////// */
/* /////////////начало International exams////////////////// */
.international_exams_box_wrapper{
    /* width: 100vw; */
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.international_exams_box{
    display: block;
    width: 150px;
    height: 80px;
    background-color: #FF5E43;
    text-decoration: none;
    color: white;
    padding: 20px 60px;
    margin-top: 50px;
    
}
/* /////////////////конец International exams///////////// */
/* /////////////начало програиитнг//////////////// */
.international_exams_programming_wrapper{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}
.international_programming_box{
    display: block;
    width: 150px;
    height: 80px;
    background-color: #FF5E43;
    text-decoration: none;
    color: white;
    padding: 20px 60px;
    margin-top: 50px;
}
/* ///////////////конец программинг////////// */